{% extends 'base.html.twig' %}

{% block title %}Gallerie{% endblock %}

{% block body %}
    <h1 class="title">Gallerie</h1>

    <div class="buttonsNav">
        <a href="{{ path('image_new', { project : project.id }) }}">Ajouter une image</a>
    </div>

    {% if images is defined %}
        <div class="projectGaleryShow">
            <ul>
                {% for image in images %}
                    <p class="title numberImage">Image n°</p>
                    <li><img class="showProjectImage" src="../../uploads/projects/{{ image.url }}" alt="Gallerie image projet"></li>

                    <form method="post" action="{{ path('image_delete', {'id': image.id}) }}" onsubmit="return confirm('Supprimer cette image ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
                        <input class="btn_delete_project" type="submit" value="Supprimer">
                    </form>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>Aucune image</p>
    {% endif %}

    <div class="buttonsNav">
        <a href="{{ path('project_edit', { id : project.id }) }}">Edition du projet</a>
    </div>
{% endblock %}
