{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }} #}


{# <img src="{{ vich_uploader_asset(website) }}" alt="{{ website.title }}"> #}

{{ form_start(form) }}

{{ form_label(form.title, 'Titre', {'label_attr': {'class': 'formLabel'}}) }}
{{ form_widget(form.title, {'attr': { 'class': 'formInput' }}) }}
{{ form_errors(form.title, {'attr': { 'class': 'formErrors' }}) }}

{{ form_label(form.biglogoFile, 'Logo principal', {'label_attr': {'class': 'formLabel'}}) }}
<div class="logoLabel">
    <img class="logo_formulaire" src="../../uploads/portfolio/{{ website.biglogo }}" alt="Image grand logo">
    {{ form_widget(form.biglogoFile, {'attr': { 'class': 'formInput' }}) }}
</div>
{{ form_errors(form.biglogoFile, {'attr': { 'class': 'formErrors' }}) }}

{{ form_label(form.littlelogoFile, 'Logo miniature', {'label_attr': {'class': 'formLabel'}}) }}
<div class="logoLabel">
    <img class="logo_formulaire" src="../../uploads/portfolio/{{ website.littlelogo }}" alt="Image petit logo">
    {{ form_widget(form.littlelogoFile, {'attr': { 'class': 'formInput' }}) }}
</div>
{{ form_errors(form.littlelogoFile, {'attr': { 'class': 'formErrors' }}) }}

{{ form_label(form.aboutme, 'Présentation', {'label_attr': {'class': 'formLabel'}}) }}
{{ form_widget(form.aboutme, {'attr': { 'class': 'formInput' }}) }}
{{ form_errors(form.aboutme, {'attr': { 'class': 'formErrors' }}) }}

<button class="btn">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}


{# 
    titre
    biglogo
    litlle logo
    type portfolio

    {{ form_label{form.title, 'Titre'} }}
    {{ form_widget{form.title, {'attr': { 'class': 'formWebsite' }}} }}
    {{ form_errors{form.title} }}

    OU

    {{ <div class="">form_row{form.title} }}</div> 

#}
