{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1 class="title">Administration</h1>
    <ul class="adminIndex">
        <li class="buttonsNav adminIndexElement"><a href="{{ path('project_index') }}">{{ 'dashboard_admin.projects'|trans }}</a></li>
        <li class="buttonsNav adminIndexElement"><a href="{{ path('category_index') }}">{{ 'dashboard_admin.categories'|trans }}</a></li>
        <li class="buttonsNav adminIndexElement"><a href="{{ path('website_index') }}">{{ 'dashboard_admin.website'|trans }}</a></li>
    </ul>

    <div class="buttonsNav linkAdminToHomepage">
        <a href="{{ path('homepage') }}">Portfolio</a>
    </div>
{% endblock %}
