{% extends 'base.html.twig' %}

{% block title %}{{website|first.title}}{% endblock %}

{% block body %}

<div class="container">
<div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicateurs -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- Carrousel -->
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="4000">
            <img src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-1.jpg" alt="Carrousel slide 1" class="d-block w-100">
          </div>
          <div class="carousel-item" data-interval="2000">
            <img src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-2.jpg" alt="Carrousel slide 2" class="d-block w-100">
          </div>
          <div class="carousel-item" data-interval="1000">
            <img src="https://www.pierre-giraud.com/bootstrap-carrousel-slide-3.jpg" alt="Carrousel slide 3" class="d-block w-100">
          </div>
        </div>

 {#         <div class="carousel-inner">
             {% for project in projects %}
{% set compteur = 0 %}
{% if compteur is same as (0) %}        

    <div class="carousel-item active" data-interval="4000">
  
               
                        {% set imageUrl = project.images|first.url %}
                        {% set array = [] %}
                        {% for source in project.sources %}
                            {% set array = array|merge([[source.name, source.url ]]) %}
                        {% endfor %}
                        <img class="d-block w-100"
                                                data-title="{{ project.title }}"
                                                data-description="{{ project.description }}"
                                                data-image-url="{{ imageUrl }}"
                                                data-date="{{ project.date|date('m/Y') }}"
                                                data-sources="{{ array|json_encode|e('html_attr') }}"
                                                src="../uploads/projects/{{ imageUrl }}"
                                                alt="project picture">
            </div>

{% else %}
                   <div class="carousel-item" data-interval="4000">
                        {% set imageUrl = project.images|first.url %}
                        {% set array = [] %}
                        {% for source in project.sources %}
                            {% set array = array|merge([[source.name, source.url ]]) %}
                        {% endfor %}
                        <img class="d-block w-100"
                                                data-title="{{ project.title }}"
                                                data-description="{{ project.description }}"
                                                data-image-url="{{ imageUrl }}"
                                                data-date="{{ project.date|date('m/Y') }}"
                                                data-sources="{{ array|json_encode|e('html_attr') }}"
                                                src="../uploads/projects/{{ imageUrl }}"
                                                alt="project picture">
                
            </div>
{% endif %}

{% endfor %}





            <div class="carousel-item active" data-interval="4000">
                {% set compteur = 0 %}
                {% for project in projects %}
                    {% if compteur = 0 %}
                        {% set imageUrl = project.images|first.url %}
                        {% set array = [] %}
                        {% for source in project.sources %}
                            {% set array = array|merge([[source.name, source.url ]]) %}
                        {% endfor %}
                        <img class="d-block w-100"
                                                data-title="{{ project.title }}"
                                                data-description="{{ project.description }}"
                                                data-image-url="{{ imageUrl }}"
                                                data-date="{{ project.date|date('m/Y') }}"
                                                data-sources="{{ array|json_encode|e('html_attr') }}"
                                                src="../uploads/projects/{{ imageUrl }}"
                                                alt="project picture">
                {% endfor %}
            </div>
        </div>
        
        <!-- Contrôles -->
        <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Suivant</span>
        </a>
      </div>
</div>

 #}


<div class="container">
    <div class="projectPictures">
        {% for project in projects %}
            {% set imageUrl = project.images|first.url %}
            {% set array = [] %}
            {% for source in project.sources %}
                {% set array = array|merge([[source.name, source.url ]]) %}
            {% endfor %}
            <div class="projectPicture"><img class="imgProject"
                                            data-title="{{ project.title }}"
                                            data-description="{{ project.description }}"
                                            data-image-url="{{ imageUrl }}"
                                            data-date="{{ project.date|date('m/Y') }}"
                                            data-sources="{{ array|json_encode|e('html_attr') }}"
                                            src="../uploads/projects/{{ imageUrl }}"
                                            alt="project picture">
            </div>
        {% endfor %}
    </div>
</div>
    <aside class="modal">
        <div class="modalContent">
            <span class="closeModal">X</span>
        </div>
    </aside>
    <section class="aboutMe">
        <div class="about title">About</div>
        <div class="aboutMeDescription">
            <p>{{website|first.aboutme|raw}}</p>
            <div class="me title">me</div>
        </div>
    </section>
{% endblock %}
