{% extends 'base.html.twig' %}

{% block title %}elHa{% endblock %}

{% block body %}
    <div class="projectPictures">
        {% for project in projects %}
            {% set imageUrl = project.images|first.url %}
            <div class="projectPicture"><img class="imgProject"
                                            data-title="{{ project.title }}"
                                            data-description="{{ project.description }}"
                                            data-image-url="{{ imageUrl }}"
                                            data-date="{{ project.date|date('m/Y') }}"
                                            src="{{ asset(imageUrl) }}"
                                            alt="project picture">
            </div>
        {% endfor %}
    </div>
    <aside class="modal">
        <div class="modalContent">
            <span class="closeModal">X</span>
        </div>
    </aside>
    <section class="aboutMe">
        <div class="about title">About</div>
        <div class="aboutMeDescription">
            <p>Lorem Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
    diam nonummy nibh euismod tincidunt ut laoreet dolore magna
    aliquam erat volutpat.
    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
    suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem
    vel eum iriure dolor in hendrerit in vulputate velit esse molestie
    consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
    accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
    delenit augue duis dolore te feugait nulla facilisi.facilisis at vero eros et
    accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
    delenit augue duis dolore te feugait nulla facilisi.facilisis at vero eros et
    accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
    delenit augue duis dolore te feugait nulla facilisi.facilisis at vero eros et
    accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
    delenit augue duis dolore te feugait nulla facilisi.facilisis at vero eros et
    accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
    delenit augue duis dolore te feugait nulla facilisi.facilisis at vero eros et
    accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
    delenit augue duis dolore te feugait nulla facilisi.facilisis at vero eros et
    accumsan et iusto odio dignissim<br> qui blandit praesent luptatum zzril
    delenit augue duis dolore te feugait nulla facilisi.facilisis at vero eros et
    accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
    delenit augue duis dolore te feugait nulla facilisi.facilisis at vero eros et
    accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
    delenit augue duis dolore te feugait nulla facilisi.</p>
            <div class="me title">me</div>
        </div>
    </section>
{% endblock %}
