{% extends 'base.html.twig' %}

{% block title %}Modifier un projet{% endblock %}

{% block body %}
    <h1 class="title">Modifier un projet</h1>

    <div class="buttonsNav">
        <a href="{{ path('image_project_index', { project : project.id }) }}">Mes images</a>
    </div>

    <div class="buttonsNav">
        <a href="{{ path('source_project_index', { project : project.id }) }}">Mes sources</a>
    </div>

    {{ include('admin/project/_formEdit.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('admin/project/_delete_form.html.twig') }}

    <div class="buttonsNav">
        <a href="{{ path('project_index') }}">Retour à la liste des projets</a>
    </div>
{% endblock %}
