{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    <h1 class="title">Projets</h1>

    <div class="buttonsNav">
        <a href="{{ path('project_new') }}">Ajouter un projet</a>
    </div>

    <table class="projectTab">
        <thead class="projectTabHead">
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="projectTabRow">
        {% for project in projects %}
            <tr>
                {% set imageUrl = project.images|first.url %}
                <td><img src="{{ asset(imageUrl) }}" alt="project picture"></td>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.date ? project.date|date('m/Y') : '' }}</td>
                <td>
                    <div class="buttonsNav">
                        <a href="{{ path('project_show', {'id': project.id}) }}">Visualiser</a>
                    </div>
                    <div class="buttonsNav">
                        <a href="{{ path('project_edit', {'id': project.id}) }}">Editer</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun projet</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="buttonsNav">
        <a href="{{ path('admin') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
