{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    <h1 class="title">Projets</h1>

    <div class="buttonsNav">
        <a href="{{ path('project_new') }}">Ajouter un projet</a>
    </div>
    <div class="searchProject">
        {{ form_start(form) }}
        <button class="buttonSearchProject">Rechercher</button>
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <table class="projectTab">
        <thead class="projectTabHead">
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="projectTabRow">
            {% for project in projects %}
                <tr>
                    {% set imageUrl = project.images|first %}
                    <td>
{#                         {% if imageUrl %}
                            {% set imageUrlLink = '/uploads/projects/' ~ imageUrl.url %}
                        {% else %}
                            {% set imageUrlLink = "https://img.freepik.com/photos-gratuite/fond-bleu-degrade-luxe-abstrait-bleu-fonce-lisse-vignette-noire-studio-banner_1258-82761.jpg?w=1380&t=st=1661137964~exp=1661138564~hmac=d1b4c7ae8f9880b52c2d3f258cd451b371799fdaa956fd8bdc1226cff48cc254" %}
                        {% endif %}
                        
                        <img src="{{ imageUrlLink }}" alt="project picture"> #}

                        {% if project.imageProjectName %}
                            {% set imageUrlLink = '/uploads/projects/' ~ project.imageProjectName %}
                        {% else %}
                            {% set imageUrlLink = "https://img.freepik.com/photos-gratuite/fond-bleu-degrade-luxe-abstrait-bleu-fonce-lisse-vignette-noire-studio-banner_1258-82761.jpg?w=1380&t=st=1661137964~exp=1661138564~hmac=d1b4c7ae8f9880b52c2d3f258cd451b371799fdaa956fd8bdc1226cff48cc254" %}
                        {% endif %}
                        
                        <img src="{{ imageUrlLink }}" alt="project picture">
                    </td>
                    <td>{{ project.title }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.date ? project.date|date('m/Y') : '' }}</td>
                    <td class="buttonsProjectIndex">
                        <div class="buttonsNav">
                            <a href="{{ path('project_show', {'id': project.id}) }}">Visualiser</a>
                        </div>
                        <div class="buttonsNav">
                            <a href="{{ path('project_edit', {'id': project.id}) }}">Editer</a>
                        </div>
                        <form method="post" action="{{ path('project_delete', {'id': project.id}) }}" onsubmit="return confirm('Supprimer ce projet ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                            <input class="btn_delete_project" type="submit" value="Supprimer">
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun projet</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="buttonsNav">
        <a href="{{ path('admin') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
