{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}

{% block body %}
    <h1 class="title">{{ project.title }}</h1>

    <div class="projectShowHeader">
        <h2>Description</h2>
        <p class="projectShowHeaderContent">{{ project.description }}</p>

        <h2 class="title">Date</h2>
        <p class="projectShowHeaderContent">{{ project.date ? project.date|date('Y-m-d H:i:s') : '' }}</p>
        
        <h2 class="title">Catégorie</h2>
        <ul class="projectShowHeaderContent">
            {% for category in project.categories %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="projectGaleryShow">
        <h2 class="title">Galerie</h2>
        <ul>
            {% for image in project.images %}
                <li><img class="showProjectImage" src="/uploads/projects/{{ image.url }}" alt="Gallerie image projet"></li>
            {% endfor %}
        </ul>
    </div>

    <div class="buttonsNav">
        <a href="{{ path('project_index') }}">Liste des projets</a>
    </div>
    
    <a class="editButton" href="{{ path('project_edit', {'id': project.id}) }}">Editer</a>

    {{ include('admin/project/_delete_form.html.twig') }}
{% endblock %}
